@media(max-width:425px){
    .project-status-mobile{
        flex-direction: column;
    }
    .hero-section-header{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
}